<h2> <%= @taskslist.title %> </h2>

<p> <%= @taskslist.description %> </p>
<br>

<%= link_to "Edit Task", edit_taskslist_path(id: @taskslist.id) %><br><br>


<% @taskslist.todos.order(created_at: :desc).each do |comment| %>

    <ul>
    <li><p><h3> <%= comment.list %> </h3> </p></li>

    </ul>
<% end %>





    








